<section id="about-me1">
  <div class="home-content">
    <p></p>
    <p></p>
    <h4 class="text-center">
      Meet the<br />
      Founders
    </h4>
  </div>
  <p class="para">to create meaningful solutions that empower people and drive innovation. <br>
    As founders, we are deeply passionate about what we do, blending creativity, <br>
    expertise, and vision to shape a better future. With a commitment to excellence <br>
    and a focus on community, our goal is to deliver value, inspire trust, and leave a <br>
    lasting impact. This venture is more than a business to us—it's a platform to <br>connect,innovate, and grow together.</p>
  <div id="sqr"></div>
  <div id="into">
    <img src="\assets\into1.jpg" />
  </div>
</section>

<section class="about-me">
  <div class="rect"></div>
  <div class="image-container left">
    <img class="img" src="assets/p.jpg" alt="Placeholder Image" />
    <div class="right" style="margin-left: 40px;">
      <p style="font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Prashanth Chandra Reddy is a crazy monkey in a human form who is dumb enough to take engineering and work with other tech enthusiast.</p>
    </div>
  </div>
</section>

<section class="about-me">
  <div class="rect"></div>
  
  <div class="image-container right">
    <div class="right" style="margin-left: 600px; margin-right: 10px;">
      <p style="font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Sanjay "JK" Seshadrinath is a tech enthusiast focusing on day to day challenges of rich humans around the world.</p>
    </div>
    <img class="img1" src="assets/s.jpg" alt="Placeholder Image" />
  </div>
</section>

<section class="about-me">
  <div class="rect"></div>
  <div class="image-container left">
    <img class="img3" src="assets/h.jpg" alt="Placeholder Image" />
    <div class="right" style="margin-left: 40px;">
      <p style="font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> Hrishab - "The HATAKE" is a lazy yet intelligent person who contributed a lot to the production of CO<sub>2</sub> but not to the project.</p>
    </div>
  </div>
  
</section>
