<section id="features" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 d-flex align-items-stretch mb-4">
          <div class="features-col">
            <img src="../../assets/fast-delivery-icon-free-vector.jpg" class="img-fluid rounded mb-3" alt="Fast Delivery">
            <h3 class="font-weight-bold">Fast Delivery</h3>
            <p>We collect parcels from home and deliver them to the doorstep. Choose us for reliable service.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex align-items-stretch mb-4">
          <div class="features-col">
            <img src="../../assets/trust.png" class="img-fluid rounded mb-3" alt="Trustable Courier">
            <h3 class="font-weight-bold">Trustable Courier</h3>
            <p>We ensure the security and safety of your parcels. Trust our reliable riders.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 d-flex align-items-stretch mb-4">
          <div class="features-col">
            <img src="../../assets/take-step.png" class="img-fluid rounded mb-3" alt="Complaint Resolution">
            <h3 class="font-weight-bold">Quick Complaint Resolution</h3>
            <p>We act immediately on customer complaints to ensure satisfaction.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex align-items-stretch mb-4">
          <div class="features-col">
            <img src="../../assets/customer-support.jpg" class="img-fluid rounded mb-3" alt="24/7 Support">
            <h3 class="font-weight-bold">24/7 Helpline</h3>
            <p>Our customer care team is available 24/7 to assist you with any inquiries or issues.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  